<h2>LISTADO DE USUARIOS</h2>
<app-usuario-detail [usuario]="usuarioSelected"></app-usuario-detail>         
<ul>
    <li *ngFor = "let usuario of personasRecibidas"  (click) = "onSelect(usuario)">  
        <span>{{usuario.id}}</span><br/>
        <span>{{usuario.email}}</span><br/>
        <span>{{usuario.password}}</span><br/>
        <span>{{usuario.name}}</span><br/>
        <span>{{usuario.age}}</span><br/>
        
        <input type="button" (click)="usuarioSelected = usuario" value="VER DETALLE" />
    </li>
</ul>
